<section>
  <h3 class="congratulations">Congratulations <%= @your_name %> — you finished!</h3>
    <p>
        You have bested the Capybara, who is thoroughly exhausted. Did you think when you woke up this morning that you would be able to control a webpage via your command line? Can you see how by using Capybara, your testing practices could now involve checking webpages for specific information?
    </p>
    <p>
        Well done for completing the exercise. Your coach <span class="inner-highlight"><%= @coach_name %></span> is proud of you!
    </p>
    <p>
        To finish up, in IRB run the following command, and this window should close:
    </p>
        <pre class="line-numbers language-bash code-snippet-margin">
            <code>
                exit
            </code>
        </pre>
    <p>
</section>