%section.hero-splash{style: "background-image: url('images/capybara.jpg')"}
  .container
    .centered-row
      %h2 Learn to Capybara in 12 minutes
      %p Welcome to the Capybara obstacle course.
      %p Please read the instructions.
%section.article
  .container
    %h4 Objective
    .container 
      %p This site is a playground for practicing sending instructions to an automated browser using Capybara.
      %p
    %h4 Setup
    %p
      Create a Gemfile listing two dependencies:
    %pre.language-ruby
      :escaped
        source "https://rubygems.org"
        gem 'capybara'
        gem 'selenium-webdriver'
    %p
      Run the following in PRY or IRB:
    %pre.language-ruby
      :escaped
        >> pry 
        [1] pry(main)> require 'capybara'
        => true
        [2] pry(main)> require 'selenium-webdriver'
        => true
        [3] pry(main)> include Capybara::DSL
        including Capybara::DSL in the global scope is not recommended!
        => Object
        [4] pry(main)> Capybara.default_driver = :selenium
        => :selenium
        [5] pry(main)> visit 'http://capybaraworkout.herokuapp.com'
        => ""
        [6] pry(main)>
%section
  %p
    %a.start{ href: '/workout' } Start Workout!

