%section.hero-splash{style: "background-image: url('images/capybara.jpg')"}
  .container
    .centered-row
      %h2 Learn to Capybara in 12 minutes
      %p Welcome to the Capybara obstacle course.
      %p Please read the instructions.
%section.article
  .container
    %h4 Objective
    .container 
      %p 
        This site is a playground for practicing sending instructions to an automated browser using
        %a{href: '//github.com/jnicklas/capybara'} Capybara. 
        We recommend you refer to a
        %a{href: '//www.launchacademy.com/codecabulary/learn-test-driven-development/rspec/capybara-cheat-sheet'} cheat sheet 
        while attempting the challenges.
    %hr
    %h4 Setup
    %p
      Create a Gemfile listing two dependencies:
    %pre.language-ruby
      %code.language-ruby
        <span class='token tag'></span>
        <span class='token tag'>source "https://rubygems.org"</span>
        <span class='token tag'>gem 'capybara'</span>
        <span class='token tag'>gem 'selenium-webdriver'</span>
    %hr
    %p
      Run the following in PRY or IRB:
    %pre.language-ruby
      %code.language-ruby
        %span.token.tag 
        %span.token.tag >> pry 
        %span.token.tag [1] pry(main)> require 'capybara'
        %span.token.tag => true
        %span.token.tag [2] pry(main)> require 'selenium-webdriver'
        %span.token.tag => true
        %span.token.tag [3] pry(main)> include Capybara::DSL
        %span.token.tag including Capybara::DSL in the global scope is not recommended!
        %span.token.tag => Object
        %span.token.tag [4] pry(main)> Capybara.default_driver = :selenium
        %span.token.tag => :selenium
        %span.token.tag [5] pry(main)> visit 'http://capybaraworkout.herokuapp.com'
        %span.token.tag => ""
        %span.token.tag [6] pry(main)> click_link 'Start Workout!'
%section
  %p
    %a.start{ href: '/workout' } Start Workout!
