%section.hero-splash{style: "background-image: url('images/capybara.jpg')"}
  .container
    .centered-row
      %h1 Learn to Capybara in 12 minutes
      %p Welcome to the Capybara obstacle course. Your first task is to, using Capybara, instruct the browser to click the link below.
      %a{ href: '/workout' } Start Workout!
