%html
  %head
    %title Capybara Workout
    %script{type: "text/javascript", src:  "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/ramda/0.17.1/ramda.min.js"}
    %script{type: "text/javascript", src:  "/scripts/app.js"}
  %head
  %body
    = yield
  %body
%html
