%html{"data-theme" => "light"}
  %head
    %title Capybara Workout
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    -# %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/makers-styles.css"}
    -# %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/style.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/pico.min.css"}

    // vendor
    %script{type: "text/javascript", src:  "/vendor/jquery.js" }
    %script{type: "text/javascript", src:  "/vendor/prism.js"  }
    %script{type: "text/javascript", src:  "/vendor/ramda.js"  }
    // scripts
    %script{type: "text/javascript", src:  "/scripts/app.js"}
  %body{class: "container"}
    = yield
  %div
    Icons made by
    %a{:href => "https://www.freepik.com", :title => "Freepik"} Freepik
    from
    %a{:href => "https://www.flaticon.com/", :title => "Flaticon"} www.flaticon.com  
  %body
%html
