%html{"data-theme" => "light"}
  %head
    %title Capybara Workout
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/pico.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/css/capybara-style.css"}
    %link{:href => "favicon/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "favicon/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    // vendor
    -# %script{type: "text/javascript", src:  "/vendor/jquery.js" }
    -# %script{type: "text/javascript", src:  "/vendor/prism.js"  }
    -# %script{type: "text/javascript", src:  "/vendor/ramda.js"  }
    -# // scripts
    -# %script{type: "text/javascript", src:  "/scripts/app.js"}
  %body{class: "container"}
  %section
    %div{class: "heading"}
      %img{src: "/images/capybara.png",  class: "capybara-logo"}
      %h1{class: "page-title"} Welcome to The Capybara Workout
      %img{src: "/images/capybara.png",  class: "capybara-logo"}
    %hr
    = yield
  %div
    Icons made by
    %a{:href => "https://www.freepik.com", :title => "Freepik"} Freepik
    from
    %a{:href => "https://www.flaticon.com/", :title => "Flaticon"} www.flaticon.com
    Pattern vector created by 
    %a{href: "https://www.freepik.com/vectors/pattern"} studiogstock
    %script{type: "text/javascript", src:  "/scripts/bye-jquery.js"}

  %body
%html
