%html
  %head
    %title Capybara Workout
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/makers-styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/style.css"}

    // vendor
    %script{type: "text/javascript", src:  "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/ramda/0.17.1/ramda.min.js"}
    %script{type: "text/javascript", src:  "/scripts/makersStyles.js"}
    // scripts
    %script{type: "text/javascript", src:  "/scripts/app.js"}
  %body
    = yield
  %body
%html
