%section.first
  %button Click me!

%section.second
  %button Click on me too!

%section.identicals
  %section.third
    %button We're the same...but different
  %section.fourth
    %button We're the same...but different
  %section.fifth
    %button{ id: 'top' }We're the same but we have different IDs
    %button{ id: 'bottom'}We're the same but we have different IDs


